<!DOCTYPE html>
<html ng-app="mainApp" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>RPS Ai by Aditya K.</title>
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <!-- JQuery -->
        <script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
        <!-- JS for Bootstrap -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <!-- css -->
        <link href="css/mainStyles.css" rel="stylesheet">
        <link rel="stylesheet" href="css/iconStyle.css">        
        <!-- Angular JS 1.5.5 -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
        <!-- js -->        
        <script type="text/javascript" src="js/machineLearningAi.js"></script>
        <script type="text/javascript" src="js/mainApp.js"></script>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
        
        <a href="https://github.com/adityavkk"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"></a>
    </head>
    <body ng-controller="bodyController">
        <div class="site-wrapper">
            <div class="site-wrapper-inner">
                <div class="cover-container">
                    <div class="masthead clearfix">
                        <div class="inner">
                            <h3 class="masthead-brand">Rock Paper Scissors Ai</h3>
                        </div>
                        <div class="scoreboard-div">
                            <div class="row">
                                <div class="col-md-4"> 
                                    <div class="panel"> 
                                        <section>
                                            <h2 class="scoreboard-panel-title">
                                                Wins
                                            </h2> 
                                            <hr>
                                            <h2 class="scoreboard-panel-title">
                                                {{playerWins}}
                                            </h2>
                                        </section>                                         
                                    </div>
                                </div>
                                <div class="col-md-4"> 
                                    <div class="panel"> 
                                        <section>
                                            <h2 class="scoreboard-panel-title">
                                                Draws
                                            </h2> 
                                            <hr>
                                            <h2 class="scoreboard-panel-title">
                                                {{score.totalDraws}}
                                            </h2>
                                        </section>                                         
                                    </div>
                                </div>
                                <div class="col-md-4"> 
                                    <div class="panel"> 
                                        <section>
                                            <h2 class="scoreboard-panel-title">
                                                Losses
                                            </h2> 
                                            <hr>
                                            <h2 class="scoreboard-panel-title">
                                                {{playerLosses}}
                                            </h2>
                                        </section>                                         
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row play-row">
                            <div class="col-md-6 player-col">
                                <h3>You</h3> 
                                <div class="row padding-row">
                                    <div class="col-md-4">
                                        <a href="" class="btn btn-md btn-default" ng-click="playGame('Rock')">Rock &nbsp <span style="font-size:1.2em;" class="icon-rock"></span></a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="" class="btn btn-md btn-default" ng-click="playGame('Paper')">Paper &nbsp <span class="icon-paper" style="font-size:1.2em;"></span></a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="" class="btn btn-md btn-default" ng-click="playGame('Scissors')">Scissors &nbsp <span class="icon-scissors" style="font-size:1.2em;"></span></a>
                                    </div>
                                </div>
                                <div class="row padding-row">
                                    <div class="col-md-12">
                                        <span ng-if="!playerPlay" class="icon-handRight" style="font-size:15em;"></span>
                                        <span ng-if="playerPlay == 'Rock'" class="icon-rock" style="font-size:15em;">                          
                                        </span>
                                        <span ng-if="playerPlay == 'Paper'" class="icon-paper" style="font-size:15em;">                          
                                        </span>
                                        <span ng-if="playerPlay == 'Scissors'" class="icon-scissors" style="font-size:15em;">                          
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 computer-col">
                                <h3>Computer</h3> 
                                <div class="row padding-row">
                                    <div class="col-md-2 invisible">
                                        <a  href="#" class="btn btn-md btn-default">View Ai Prediction</a>
                                    </div>
                                    
                                    <div class="col-md-8">
                                        <a ng-show="score.totalGamesPlayed > 6 && !viewAiPrediction.toggle" href="#" ng-click="viewAiPrediction.toggle = true" class="btn btn-md btn-default">View Ai Prediction</a>
                                        <a ng-show="viewAiPrediction.toggle" href="#" ng-click="viewAiPrediction.toggle = false" class="btn btn-md btn-default">Hide Ai Prediction</a>
                                    </div>
                                    
                                </div>
                                <div class="row padding-row">
                                    <div class="col-md-12">
                                        <span ng-if="!aiPlay" class="icon-hand" style="font-size:15em;">                          
                                        </span>
                                        <span ng-if="aiPlay == 'Rock'" class="icon-rock" style="font-size:15em;">                          
                                        </span>
                                        <span ng-if="aiPlay == 'Paper'" class="icon-paper" style="font-size:15em;">                          
                                        </span>
                                        <span ng-if="aiPlay == 'Scissors'" class="icon-scissors" style="font-size:15em;">                          
                                        </span>
                                    </div>
                                </div>
                                
                            </div>                            
                        </div>                        
                    </div>

                    <div class="mastfoot">
                        <br>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-6">
                                <div ng-show="viewAiPrediction.toggle" class="row padding-row">
                                    <h4>The Ai predicts that you will play {{aiPrediction}} next</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Total Games Played: {{score.totalGamesPlayed}} </h3>          
                            </div>
                            <div class="col-md-6">
                                <h3>Winning Percentage: {{score.winningPercentage || 0}}% </h3>          
                            </div>
                        </div>
                        <div class="inner">
                            <p>Rock Paper Scissors Ai by Aditya Kumarakrishnan</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="assets/js/ie10-viewport-bug-workaround.js"></script>
    </body>
</html>
